<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>SliverTree</title>
    <meta name="description" content="登陆SliverTree">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="__STATIC__/favicon/favicon.png">
    <meta name="apple-mobile-web-app-title" content="SliverTree" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/amazeui.datatables.min.css" />
    <link rel="stylesheet" href="__STATIC__/assets/css/app.css">
    <script src="__STATIC__/assets/js/jquery.min.js"></script>
</head>
<body>
{block name="res"}
{/block}
{block name="main"}
{/block}
</body>
<script src="__STATIC__/assets/js/amazeui.min.js"></script>
<script src="__STATIC__/assets/js/app.js"></script>
</html>